{{#metas}}
<div class="relative max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
    <a href="#">
    {{#video.youtubeID}}
    
        <img class="rounded-t-lg" src="https://img.youtube.com/vi/{{{video.youtubeID}}}/0.jpg" alt="" />
        <span class="absolute -top-2 -right-2"><svg class=" w-[24px] h-[26px] text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 14 16">
          <path d="M0 .984v14.032a1 1 0 0 0 1.506.845l12.006-7.016a.974.974 0 0 0 0-1.69L1.506.139A1 1 0 0 0 0 .984Z"/>
        </svg>
        </span>
    
    {{/video.youtubeID}}
    {{^video.youtubeID}}
      {{#image}}
   
        <img class="rounded-t-lg" src="https://{{{HOST_NAME}}}{{{image.src}}}" alt="" />
        
      {{/image}}
    {{/video.youtubeID}}

    <div class="p-5">
        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">{{title}}</h5>
        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">{{description}}</p>
        
    </div>
    </a>
</div>
{{/metas}}
